@import "tailwindcss";

@theme {
    --font-space-grotesk: var(--font-space-grotesk);
    --font-manrope: var(--font-manrope);
}

@layer base {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
    *,
    ::after,
    ::before,
    ::backdrop,
    ::file-selector-button {
        border-color: var(--color-gray-200, currentcolor);
    }

    button:not(:disabled),
    [role="button"]:not(:disabled) {
        cursor: pointer;
    }
}
